.footer {
  width: 100%;

  padding: 15px;

  text-align: center;

  background: #111;

  border-top: 3px solid #ffea00;

  margin-top: 40px;
}

.footer a {
  color: white;

  text-decoration: none;

  font-size: 1.1rem;

  font-weight: bold;

  transition: 0.3s;
}

.footer a:hover {
  color: #ffea00;
}
